.formulario {
    margin: 2px;
    padding: 2px;
    background-color: white;

}
.formulario_contacto{
    margin: 2px;
    padding: 2px;
    text-align: center;
    border: 3px;
    

}
.h1_ {
    text-align: center;
}

.h1_as {
    color: white;
}

.BOTON {
    display: block;
    margin-left: auto;
    margin-right: auto;
}