.formulario {
    margin: 2px;
    padding: 2px;
    background-color: white;

}

.h1_ {
    text-align: center;
}

.h1_as {
    color: white;
}

.BOTON {
    display: block;
    margin-left: auto;
    margin-right: auto;
}